{% extends "index.html" %}
{% block body %}
<div class=registroEquipos>
	<form class="pure-form pure-form-stacked" action="{{ url_for('registroJuegos') }}" method=post>
		<pre>Numero de equipos: {{ n }}</pre>
		<pre>Ingrese el nombre de los equipos:</pre>
		<!--<pre>Seconds taken: {{ time }}</pre>-->
			<table class="pure-table pure-table-bordered">
				<thead>
					<tr>
						<th>Equipo</th>
						<th colspan="8">Nombre</th>
					</tr>	
				</thead>
				<tbody>
					{% for i in range(1, n+1) %}
					<tr>
						<td> Equipo {{i}}</td>
						<td><input id="team{{i}}" name="team{{i}}"+ type="text"></td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		<button type="submit" class="pure-button pure-button-primary">Avanzar</button>
	</form>
</div>
{% endblock %}